@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');

/* 전체 폰트 설정 */
* {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* 기본 홈 설정 */
body {
    background-color: #bfb8ee !important;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
}

/* 스크롤바 숨기기 */
body::-webkit-scrollbar {
    display: none;
}

/*home.html 팀 소개 화면 CSS*/
.content {
    padding: 40px;
    text-align: -webkit-center;
}
.content-box{
    width: 60%;
    height:40vw;
    background-color: #aea1ff;
    padding: 40px;
    align-content: center;
    text-align: center;
}
.content-box p{
    font-size: 20px;
    margin-top: 2px;
    white-space: pre-wrap;
    word-break: keep-all;
    margin-bottom: 0;
}
.bulb{
    position: absolute;
    top:7%;
    left: 7%;
    width:15%;
    transform: rotate(-25deg);
}
.scribble{
    position: absolute;
    bottom:20%;
    right: 7%;
    width:15%;
    transform: rotate(25deg);
}

#team-content {
    font-size: 30px;
}

/*topmenu.html*/
.top-menu {
    background-color: #aea1ff;
    overflow: hidden;
}
.top-menu img{
    width: 50px;
    height: 50px;
    float: left;
    margin: 20px;
}
.top-menu a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 34px 50px;
    text-decoration: none;
}
.top-menu a:hover {
    background-color: #8578b8;
    color: rgb(221, 209, 231);
    transition: 0.4s;
}

/*1.html*/
a {
    color: inherit;
    text-decoration: none;
}

/* 멤버 페이지 상단 헤드 */
.teamName {
    padding-top: 80px;
}
.introduceMent {
    padding-top: 10px;
    padding-bottom: 80px;
    font-size: 20px;
}

/******************************************** 이예은 CSS ********************************************/

/* 멤버 추가 입력 폼 스타일 */
.memberbox {
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid transparent;
    border-radius: 15px;
    display: none;
    background-color: #aba2e9;
}

/* div안에 있는 input 설정 (이렇게 해야 기본 색상이 바뀜) */
.form-floating>input {
    background-color: transparent;
    border: 1px solid transparent;
}
.form-floating:focus {
    background-color: transparent;
}
.form-floating>label {
    color: #555;
}

/* input 클릭 시 설정 */
.form-control:focus {
    background-color: transparent !important;
    box-shadow:none !important;
    border: 1px solid #6759a5 !important;
}

/* 카드 스타일 */
.mycards {
    width: 90%;
    margin: 20px auto;
}
.card {
    border-radius: 50px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-img-top {
    width: 100%;
    height: auto;
    max-height: 700px;
    object-fit: cover;
    border-top-left-radius: 50px !important;
    border-top-right-radius: 50px !important;
}
/* 모달 스타일 */
.modal-content {
    background-color: #c6bff3 !important;
    color: black;
    border-radius: 10px;
}

/* 모달창에있는 선 지우기 */
.modal-header,
.modal-body,
.modal-footer {
    border: none !important;
}

/* 상세 정보 이미지 크기 고정 */
.img-fluid {
    width: 150px;
    height: 150px;
}

/* 기본 버튼 설정 */
.btn {
    background-color: #8d83ce !important;
    border-color: transparent;
    color: white !important;
}
.btn:hover {
    background-color: #7e71b3 !important;
    border-color: transparent;
}
button:focus{
    box-shadow:none !important;
    outline: none;
}

/* 멤버 추가하기 버튼 폼 설정 */
.savebtn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.savebtn>button {
    width: 100%;
}

#addbtn{
    margin: 30px;
}

/* 멤버 카드 이벤트 */
.card {
    cursor: pointer;
    transition: all 0.4s ease-out;
}
.card:hover {
    transform: translateY(-8px);
}

.border{
    border-top-right-radius: 25px ;
    border-bottom-right-radius: 25px;
}

.blogimg{
    border-top-left-radius: 25px ;
    border-bottom-left-radius: 25px;
}

/* 손원호 css */

/* 타이틀 위치 값 */
.mytitle {
    height: 250px;
    color: black;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
